:root {
    --color-tipografia: #4a3701;
    --marron-mas-claro: #baa482;    
  }

body {
    font-family: 'Xanh Mono', monospace;
}

.background {    
    /* background-image: linear-gradient(black, black), url("fondo.jpg"); */
    /* background-blend-mode: saturation; */
    background-image: url("fondo.jpg");
    /* height: 100%; */
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    
    /* filter: grayscale(90%); */
    color: var(--color-tipografia);
}

.contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.datos {
    flex: 1;
}

.foto {    
    border-radius: 100%;
    border: solid var(--color-tipografia) 1px;
}

.foto-container {
    margin-top: 5em;
    margin-bottom: 5em !important;
}

.plataforma {
    margin-bottom: 0px !important;    
}

.caja-datos {
    box-shadow: 2px 3px 3px var(--color-tipografia);
    background-color: #fceed9;
}

.caja-plataforma {    
    box-shadow: 2px 3px 3px var(--color-tipografia);
    background-color: #fceed9;
}

.caja-plataforma:hover {
    cursor: pointer;
}

/* #786a55 */


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .plataforma {
        margin-top: 10px;
    }

    .foto-container {
        margin-top: 5em;
        margin-bottom: 10em !important;
    }
  }