.background {    
    /* background-image: linear-gradient(black, black), url("fondo.jpg");
    background-blend-mode: saturation; */
    background-image: url("fondo.jpg");
    /* height: 100%; */
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    
    /* filter: grayscale(90%); */
}

.contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.datos {
    flex: 1;
}

.foto {    
    border-radius: 100%;
    border: solid grey 1px;
}

.foto-container {
    /* margin-top: 30px;
    margin-bottom: 50px !important; */
}

.plataforma {
    margin-bottom: 0px !important;
}

.coso {
    box-shadow: 2px 3px 3px grey;
    background-color: #e8e8e8;
}



